body {
    background: rgba(170, 211, 223, 0.5);
}

.App {
    display: flex;
    justify-content: space-evenly;
}

.app__left {
    flex: 0.73;
    margin-top: 8px;
}

.app__right {
    display: flex;
    flex-direction: column;
    flex: 0.22;
    background: white;
    padding: 1%;
    margin-top: 20px;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.app__title {
    display: flex;
    color: red;
    letter-spacing: 0.3em;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.3);
}


.app__dropdown {
    background-color: white;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}

.New__cases {
    margin-bottom: 3%;
    margin-top: 3%;
}

@media (max-width: 800px) {
    .App {
        flex-direction: column;
    }
}

.blink__icon {
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 50%;
    animation: blink 1000ms infinite;
    align-self: center;
    margin-left: 30px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}