.infobox {
    flex: 1;
    cursor: pointer;
    border-radius: 15px;
}

.infobox:not(:last-child) {
    margin-right: 3%;
}

.infobox .MuiCardContent-root {
    padding: 4%
}

.info__h2 {
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 1.4rem;
    color: red;
}

.infobox:nth-child(even) .info__h2 {
    color: green;
}

.info__actv {
    border-bottom: 10px solid red;
}

.info__actv:nth-child(even) {
    border-bottom: 10px solid green;
}
