.livecases {
    padding-top: 5%;
    height: 300px;
    overflow: scroll;
}

.livecases tr {
    display: flex;
    justify-content: space-between;
}

.livecases td {
    padding: 0.2em;
}

.livecases tr:nth-of-type(odd) {
    background-color: lightgray;
}

::-webkit-scrollbar {
    display: none;
}